<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %>
<body>
    <h1><%= title %></h1>
    <h2>Hello World!</h2>



    <%- include('partials/foot.ejs') %>

    <%- include('partials/main.ejs') %>
    
</body>
</html>